@keyframes fade {

    from {
        opacity: 0;
        transform: scale(0%);
    }

    to {
        opacity: 1;
        transform: scale(100%);

    }

}


@keyframes glow {

    33% {

        box-shadow: 1px 1px 00px 1px var(--fontclr1);
    }

    66% {
        box-shadow: 1px 1px 50px 1px var(--fontclr1);
    }

    100% {
        box-shadow: 1px 1px 0px 1px var(--fontclr1);
    }

}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-down {
    animation: fadeInDown 0.6s ease-out forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-left {
    animation: fadeInLeft 0.6s ease-out forwards;
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation: fadeInRight 0.6s ease-out forwards;
}


@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0px);
    }
}

.service-card:nth-child(1) {
    animation: float 6s ease-in-out infinite;
}

.service-card:nth-child(2) {
    animation: float 7s ease-in-out infinite;
}

.service-card:nth-child(3) {
    animation: float 8s ease-in-out infinite;
}

.service-card:nth-child(4) {
    animation: float 9s ease-in-out infinite;
}