

/* ---------------- Hover & Glow ---------------- */
:root {
    --hoverclr: rgba(255, 255, 255, 0.055); /* subtle hover effect */
    --glowclr: #D291BC; /* soft pink glow */
    --gradiantHover: linear-gradient(to right, var(--fontclr0), rgb(65, 11, 165)); /* hover gradient */
    --gradient: linear-gradient(135deg, #8E44AD, #430E87);
}
/* ---------------- Font Colors & Sizes ---------------- */
:root {
    --fontclr0: #8E44AD; /* heading color */
    --fontclr1: #EDEDED; /* main text color */
    --fontclr2: gray; /* paragraph or secondary text */

    --HeadingSize: 10vh; /* large heading */
    --HeadingSmallSize: 6vh; /* smaller heading */
    --paraSize: 3vh; /* main paragraph */
    --paraSmallSize: 2vh; /* small paragraph */
}
/* ---------------- Font Family ---------------- */
:root {
    --fnt_cur: cursive; /* accent font for headings */
}
/* ---------------- Background Colors ---------------- */
:root {
    --mainclr: #180929; /* main background */
    --scclr: rgba(121, 121, 121, 0.055); /* subtle box background */
    --gradiantBgclr: linear-gradient(to right, rgb(65, 11, 165), var(--fontclr0)); /* gradient background */
}


:root {
    --mbHeadingSize: 8vh; /* large heading */
    --mbHeadingSmallSize: 6vh; /* smaller heading */
    --mbparaSize: 2.5vh; /* main paragraph */
    --mbparaSmallSize: 2vh; /* small paragraph */
    
}
