@media only screen and (max-width: 1325px) {
    .about_lower_para {
        font-size: 2.5vh;
    }

    .about_btn_box {
        width: 90%;
    }

}

@media only screen and (max-width: 1000px) {

    .right {
        display: none;
    }

    .left {
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .main_head {
        margin-left: 0%;
        text-align: center;
    }

    .main_para {
        width: 100%;
        margin-left: 0%;
        text-align: center;

    }

    .main_para1 {
        width: 100%;
        margin-left: 0%;
        text-align: center;

    }

    .main_btn {
        width: 50%;
        padding-left: 0%;
        margin: 0px auto;
        margin-top: 20px;
        justify-content: center;

    }

    .main_btn1 {
        width: 100%;
        padding-left: 0%;
        display: flex;
        justify-content: center;
    }




    .about_left {
        width: 100%;
    }

    .about_right {
        display: none;
    }


    .about_btn_box {
        width: 100%;
        padding-left: 0%;
        display: flex;
        justify-content: center;
    }

    .about_btn {
        padding: 14px 20px;
    }

    .left_contact {
        width: 45%;
    }

    .right_contact {
        width: 45%;
    }

}


@media only screen and (max-width: 800px) {
    .main_contact_box {
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }

    .left_contact {
        width: 90%;
    }

    .right_contact {
        width: 90%;
        margin-top: 30px;
    }

}

@media only screen and (max-width: 760px) {

    .nav {
        justify-content: space-around;
        flex-direction: column;
        height: auto;


    }

    .burger {
        display: flex;
        width: 40px;
    }


    .nav_ul {
        display: none;
        width: 90%;
        margin-right: 0px;
        margin-top: 20px;
    }

    .name {
        margin-left: 0%;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }




}


@media only screen and (max-width: 550px) {
    .service-section-textBox {
        height: 30vh;
    }

    .service-container {
        height: 70vh;
    }

}


@media only screen and (max-width: 425px) {
    .service-section-textBox {
        height: 40vh;
    }

    .service-container {
        height: 60vh;
    }

}


@media only screen and (max-width: 450px) {
    .about_lower_para {
        font-size: 2vh;
    }



    .contect_left_connet_text {
        font-size: 20px;
    }

    


}

@media only screen and (max-width: 380px) {
    .name {
        font-size: 25px;
    }

    .main_btn {
        width: 95%;
        /* border: 2px solid black; */
    }

    .btn {
        padding: 10px 6px;

    }


    .about_left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_upper_para {
        font-size: 1.7vh;
        margin-left: 0%;
    }

    .about_lower_para {
        margin-left: 0%;

    }


    .about_upper_text {
        font-size: 9vh;
    }

    .contect_left_connet_box {
        width: auto;
    }


}

/* ======= Responsive for tablets ======= */
@media (max-width: 320px) {

    .main_head,.main_head_white,.about_upper_text,.portfolio_upper_text,.service-section-textBox>h2{
        font-size: 6vh;
    }

}



/* ======= Responsive for tablets ======= */
@media (max-width: 1024px) {

    .service-container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        gap: 20px;
    }

}

/* ======= Responsive for mobile phones ======= */
@media (max-width: 768px) {

    .service-container {
        grid-template-columns: 1fr;
    }

}