@media only screen and (max-width: 768px) {


    .main_img {
        display: none;
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .textto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textto1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_head {
        margin-left: 0%;
        margin-top: 0px;
        ;
    }

    .main_para {
        margin-left: 0%;

    }

    .main_btn {
        padding-left: 0%;
        */ margin-top: 0px;
        width: auto;
        display: flex;
    }

    .main_btn1 {
        padding-left: 0%;
        width: auto;
    }

    .right {
        width: 0%;
    }



}

@media only screen and (max-width: 425px) {


    .main_btn {
        display: none;
    }

    .nav {
        flex-direction: column;
    }

    .nav_ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-right: 0%;
        display: none;
    }

    .burger {
        display: block;
    }

    .name {
        margin-left: 0%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }





}

@media only screen and (max-width: 375px) {


    .main_head_white,
    .main_head {
        font-size: var(--mbHeadingSize);

    }

    .main_para {
        font-size: var(--mbparaSize);
    }

    .name {
        justify-content: space-between;
    }




}

@media only screen and (max-width: 320px) {

    .name {
        justify-content: space-between;
    }




}



/*  */



@media only screen and (max-width: 1024px) {
    .about_img{
        width: 75%;
    }

    .about_left{
        width: 70%;
    }
    .about_right{
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .about_img{
        display: none;
    }

    .about_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_lower_text{
    padding-left: 0%;
    margin-top: 0px;
    margin-left: 0px;

    }
    
    .about_lower_para{
margin-left: 0%;
    margin-top: 0px;
    }

    .about_btn_box{
        padding-left: 0%; 
    margin-top: 20px;
    width: auto;
    }
    .about_right {
        width: 0%;
    }
}

@media only screen and (max-width: 425px) {


  .about_upper_text{
    font-size: var(--mbHeadingSize);
}

.about_lower_text,.about_lower_text_span{
      font-size: var(--mbHeadingSmallSize);

  }

  .about_lower_para{
    font-size: var(--mbparaSize);
  }





}

@media only screen and (max-width: 375px) {


    .about_lower_text,.about_lower_text_span{
        font-size: var(--mbHeadingMoreSmallSize);
    }

    .modern-btn,.btnC{
        padding: 14px 20px;
    }




}

@media only screen and (max-width: 320px) {

        .modern-btn, .btnC {
        padding: 14px 10px;
    }

    .about_lower_text,.about_lower_text_span{
        font-size: var(--mbHeadingMoreMoreSmallSize);
    }




}


/*  */



@media only screen and (max-width: 425px) {


  .portfolio_upper_text{
    font-size: var(--mbHeadingSize);
  }





}
