@media only screen and (max-width: 768px) {


    .main_img {
        display: none;
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .textto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textto1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_head {
        margin-left: 0%;
        margin-top: 0px;
        ;
    }

    .main_para {
        margin-left: 0%;

    }

    .main_btn {
        padding-left: 0%;
        */ margin-top: 0px;
        width: auto;
        display: flex;
    }

    .main_btn1 {
        padding-left: 0%;
        width: auto;
    }

    .right {
        width: 0%;
    }



}

@media only screen and (max-width: 425px) {


    .main_btn {
        display: none;
    }

    .nav {
        flex-direction: column;
    }

    .nav_ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-right: 0%;
        display: none;
    }

    .burger {
        display: block;
    }

    .name {
        margin-left: 0%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }





}

@media only screen and (max-width: 375px) {


    .main_head_white,
    .main_head {
        font-size: var(--mbHeadingSize);

    }

    .main_para {
        font-size: var(--mbparaSize);
    }

    .name {
        justify-content: space-between;
    }




}

@media only screen and (max-width: 320px) {

    .name {
        justify-content: space-between;
    }




}



/*  */



@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 425px) {


    .main_btn {
        display: none;
    }

    .nav {
        flex-direction: column;
    }

    .nav_ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-right: 0%;
        display: none;
    }

    .burger {
        display: block;
    }

    .name {
        margin-left: 0%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }





}

@media only screen and (max-width: 375px) {


    .main_head_white,
    .main_head {
        font-size: var(--mbHeadingSize);

    }

    .main_para {
        font-size: var(--mbparaSize);
    }

    .name {
        justify-content: space-between;
    }




}

@media only screen and (max-width: 320px) {

    .name {
        justify-content: space-between;
    }




}